body {
  margin: 0;
  font-family: 'Arial', sans-serif;
  background-color: white;
}

.app {
  text-align: center;
  background-color: white;
}

.banner-container {
  height: 250px; /* Ajustez la hauteur selon vos besoins */
  background: url(/img/bannière.jpeg) center/cover no-repeat;
  margin-bottom: 50px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border: 15px solid;
  border-image: linear-gradient(to right, #ffeb3b, #2196f3, #00bcd4, #ff9800) 30 round; /* Dégradé de couleurs */
  box-sizing: border-box;
}

.titre {
  height: 400px; /* Ajustez la hauteur selon vos besoins */
  background: url(/img/titre.png);
  display: flex;
  background-position: center;
  background-repeat: no-repeat;
}
